<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Rent A CAR  | Add Your Car</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">

    <link rel="stylesheet" href="addcar.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="favicon.ico" />
  </head>
  <body>

    <div class="container-scroller">

      <!-- partial:../../partials/_navbar.html -->
      <%- include('./partials/navbar.ejs') %>
      <!-- partial -->

      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
        <%- include('./partials/sidebar.ejs') %>
        <!-- partial -->
        <div class="main-panel" >
          <div class="content-wrapper" style="width: fit-content;">
            <div class="row" id="proBanner">
            </div>

            <div class="page-header">

              <h3 class="page-title"> See My Cars </h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page">Click here </li>
                  <li class="breadcrumb-item"><a href="newEntry"><p style="color:black;"></h3style>Post a car</p></a></li>
                  
                </ol>
              </nav>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="products_wrpr">
                  <div class="product">
                    <%if(results.length > 0){ %>
                      <% for(var i = 0; i < results.length; i++) { %>
                        <img src="<%=results[i].carData%>" alt="">
                        <br><br><br>
                        <p><b> Make Name :</b> <%= results[i].MakeName %></p>
                        <p><b> Model Name :</b> <%= results[i].ModelName %></p>
                        <p><b> Manufacturing Year :</b> <%= results[i].ManufacturingYear %></p>
                        <p><b> Number Plate : </b> <%= results[i].NumberPlate %></p>
                        <p><b> BodyType :</b> <%= result[i].BodyType %></p>
                        <p><b> Transmission :</b> <%= result[i].Transmission %></p>
                        <p><b> Fuel :</b> <%= result[i].Fuel %></p>
                        <p><b> Engine Capacity :</b> <%= result[i].EngineCapacity%></p>
                        <p><b> Wireless Technology :</b> <%= result[i].WirelessTech %></p>
                        <br><br>
                        
                   
                        <form action="/deletecar/<%= results[i].NumberPlate %>" class=" mt-3" method="get" >
                        <tr>
                            <th>
                              <script>
                                function myFunction() {
                                  confirm("Confirm deletion");
                                }
                              </script>


                              <button onclick="myFunction()"class="btn btn-gradient-primary"style="width:100%;" > Delete Car </button>  
                              
                            </th>
                        </tr>
                      </form>

                        <br><br><br>
                      <% } %>
                    <%}%>
                  </div>
                  
                  
                </div>
              </div>
            </div>
            
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <%- include('./partials/footer.ejs') %>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src=" vendors/js/vendor.bundle.base.js"></script>

    <script src=" js/off-canvas.js"></script>
    <script src=" js/hoverable-collapse.js"></script>
    <script src=" js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src=" js/file-upload.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <!-- End custom js for this page -->
  </body>
</html>