<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Rent A CAR  | Add Your Car</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">

    <link rel="stylesheet" href="addcar.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  </head>
  <body>
    <div class="container-scroller">

      <!-- partial:../../partials/_navbar.html -->
      <%- include('./partials/navbar.ejs') %>
      <!-- partial -->

      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
        <%- include('./partials/sidebar.ejs') %>
        <!-- partial -->
        <div class="main-panel">

          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"> Your details</h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page">Your details</li>
                  
                </ol>
              </nav>
            </div>
            <div class="row">
              <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h2 class="card-title" ><b>UPDATE DETAILS </b></h2>
                    <form action="/viewdetails" class="pt-3" method="get">
                    <form class="forms-sample">
                      
                      <table style="width:100%" class="table table-purple table-striped">
                          
                      <tr>
                          <th>Full Name</th>
                          <td> <%= data[0].OwnerFullName %></td>
                      </tr>
                      <tr>
                          <th>Phone Number</th>
                          <td> <%= data[0].phoneNumber %></td>
                      </tr>
                      <tr>
                          <th>CNIC</th>
                          <td> <%= data[0].OwnerCNIC %></td>
                      </tr>
                      <tr>
                          <th>Residential Address </th>
                          <td> <%= data[0].Address %></td>
                      </tr>
                      <tr>
                          <th>Email Address</th>
                          <td> <%= data[0].email %></td>
                      <tr>
                          <th>Password</th>
                          <td> <%= data[0].password %></td>
                      </tr>
                      
                      </table>

                        <tr>
                            <th>
                              <a href="edit" class="btn btn-gradient-primary"style="width:100%;">Edit My Personal Details</a>  
                            </th>
                        </tr>
                
                        <br><hr><br>
                            
                    </form>
                    <h2 class="card-title" style="background-color:azure;"><b> WANT TO DELETE ACCOUNT?</b> </h2>
                    <form action="/delete" class="pt-3" method="get">
                    <form class="forms-sample">
    
                      <tr>
                          <th>
                            <script>
                              function myFunction() {
                                confirm("Confirm deletion");
                              }
                            </script>

                            <button onclick="myFunction()"class ="btn btn-gradient-primary" style="width:100%;">Delete My Account </button>  
                          </th>
                      </tr>
      
                    </form>

                    </form>
                  </div>
                </div>
              </div>

              
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- footer -->
      <%- include('./partials/footer.ejs') %>
      <!-- End of footer -->
      
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    
    <script src=" vendors/js/vendor.bundle.base.js"></script>

    <script src=" js/off-canvas.js"></script>
    <script src=" js/hoverable-collapse.js"></script>
    <script src=" js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src=" js/file-upload.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <!-- End custom js for this page -->
  </body>
</html>